* {
  box-sizing: border-box;
}

:root {
  --main-red-color: #e06262;
}

.main-red-color {
  color: var(--main-red-color);
}

html {
  font-size: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #a4c1b7;
  height: 100vh;
}

body,
html {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 500px;
  height: 600px;
  background-color: #d6ece3;
  border-radius: 4px;
  padding: 32px;
}

.frame {
  border: 2px solid#9aefd9;
  height: 100%;
}

.header {
  display: flex;
  align-items: flex-start;
}

.header-tittle {
  flex: 1;
  text-align: center;
  font-size: 3.6rem;
  font-family: "homemade apple", sans-serif;
  text-transform: lowercase;
}

.header-btn {
  font-size: 1.8rem;
  font-family: "bungee", sans-serif;
  padding: 24px;
  padding-top: 0;
  background-color: unset;
  outline: unset;
  border: unset;
}
