* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #a4c1b7;
  height: 100vh;
}

body,
html {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 500px;
  height: 600px;
  background-color: #d6ece3;
  border-radius: 4px;
  padding: 32px;
}

.frame {
  border: 2px solid#9aefd9;
  height: 100%;
}
